@import "./normalize.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    // Primary palette
    --white: #ffffff;
    --black: #000000;
  }
}

body {
  background-color: #000000;
}

@media (min-width: 1024px) {
  .desktopBg {
    background-image: url("../bgdesktop.png");
    background-size: cover;
  }
}

@media (max-width: 1024px) {
  .mobileBg {
    background-image: url("../mobileBg.png");
    background-size: cover;
  }
}

// .borderGrad {
//   &:hover {
//     border-image-source: linear-gradient(97.23deg, #3ec4db -7.44%, #764afb 99.83%, #20e6ab 99.85%);
//   }
// }

.btnBorderGrad {
  &:hover {
    border-radius: 100px;
    background:
      transparent padding-box,
      linear-gradient(97.23deg, #3ec4db -7.44%, #764afb 99.83%, #20e6ab 99.85%) border-box;
    border-image-slice: 1;
    -webkit-mask-box-image: linear-gradient(
      97.23deg,
      #3ec4db -7.44%,
      #764afb 99.83%,
      #20e6ab 99.85%
    );
    mask-border: linear-gradient(97.23deg, #3ec4db -7.44%, #764afb 99.83%, #20e6ab 99.85%);
    border-image-source: linear-gradient(97.23deg, #3ec4db -7.44%, #764afb 99.83%, #20e6ab 99.85%);
  }
}

.textShadow {
  &:hover {
    text-shadow: 0px 0px 10px #5b42ff;
  }
  &:active {
    text-shadow: none;
  }
}

.gifBgDesktop {
  background-image: url("../tipogifDesktop.jpg");
  background-size: cover;
}

.h3StrokePink {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #ff00a8;
}

.h3StrokePurple {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #8d23f7;
}

.h3StrokeBlue {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #0047ff;
}
